body {
    background-color: lightblue;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.make {
    border-radius: 20px;
    font-weight: 800;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#form {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.close{
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cards {
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    background-color: lightslategray;
    gap: 1em;
    width: auto;
    height: auto;
    resize: both;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.cards>.card {
    display: flex;
    flex-direction: column;
    box-shadow: -2px -4px white;
    background-color: lightgreen;
    border-radius: 10px;
}